@media screen and (min-width: 320px) and (max-width:512px) {
    
    /* For small phones */
   
    .inputSearch{
        border-radius: 10px;
        padding: 10px 120px;
    }
    
    button{
        border-radius: 10px;
        padding: 10px 10px;
    }
    .heroS{
        background-image:url("./african-couple-cinema.jpg");
        background-color: rgb(207, 201, 201);
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:200px;
        color: aliceblue;
        width: 700px;
        
    }
    
    .second{
        background-color: blue;
        color: aliceblue;
        height: 100px;
        width: 600px;;
        padding: 30px 40px;
        
    }
}

@media screen and (min-width: 375px) and (max-width: 512px) {
    
    /* For medium phones */
   
    .inputSearch{
        border-radius: 10px;
        padding: 10px 120px;
    }
    
    button{
        border-radius: 10px;
        padding: 10px 10px;
    }
    .heroS{
        background-image:url("./african-couple-cinema.jpg");
        background-color: rgb(207, 201, 201);
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:200px;
        color: aliceblue;
        width: 700px;
        
    }
    
    .second{
        background-color: blue;
        color: aliceblue;
        height: 100px;
        width: 600px;;
        padding: 30px 40px;
        
    }
}


@media screen and (min-width: 425px) and (max-width: 512px) {
    
    /* For large phones */
   
    .inputSearch{
        border-radius: 10px;
        padding: 10px 120px;
    }
    
    button{
        border-radius: 10px;
        padding: 10px 10px;
    }
    .heroS{
        background-image:url("./african-couple-cinema.jpg");
        background-color: rgb(207, 201, 201);
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:200px;
        color: aliceblue;
        width: 700px;
        
    }
    
    .second{
        background-color: blue;
        color: aliceblue;
        height: 100px;
        width: 600px;;
        padding: 30px 40px;
        
    }
}

@media screen and (min-width: 768px) {
    
    /* For tablet */
   
    .inputSearch{
        border-radius: 10px;
        padding: 10px 120px;
    }
    
    button{
        border-radius: 10px;
        padding: 10px 10px;
    }
    .heroS{
        background-image:url("./african-couple-cinema.jpg");
        background-color: rgb(207, 201, 201);
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:200px;
        color: aliceblue;
        width: 750px;
        
    }
    
    .second{
        background-color: blue;
        color: aliceblue;
        height: 100px;
        width: 700px;;
        padding: 30px 40px;
        
    }
}


@media screen and (min-width: 1024px) {
    
    /* For laptop*/
   
    .inputSearch{
        border-radius: 10px;
        padding: 10px 120px;
    }
    
    button{
        border-radius: 10px;
        padding: 10px 10px;
    }
    .heroS{
        background-image:url("./african-couple-cinema.jpg");
        background-color: rgb(207, 201, 201);
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:200px;
        color: aliceblue;
        width: 1000px;
        
    }
    
    .second{
        background-color: blue;
        color: aliceblue;
        height: 100px;
        width: 950px;;
        padding: 30px 40px;
        
    }
}
